body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(240, 192, 239);
}
.pointer{
    display: inline-flex;
    justify-content: space-between;
}
.features{
    display: inline;
}
